body {
  height: 100%;
  margin: 0;
}

#c {
  width: 100%;
  height: 100%;
  display: inline-block;
}

@media screen and (min-width: 500px) and (orientation: portrait) {
  #c {
    height: 100%;
  }
}
